/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background: #ffffff;
}
.container-home {
  max-width: 900px;
  margin: 0px auto;
}
@media ( max-width: 515px ) {
  .container-home {
    width: 100%;
  }
}
.container-home header {
  display: flex;
  padding: 0px 20px 0px 20px;
  width: 100%
		height:100%;
  align-items: center;
  justify-content: flex-start;
}
@media ( max-width: 515px ) {
  .container-home header {
    flex-direction: column;
    width: 100%;
  }
}
.container-home header img.me {
  width: 190px;
  margin: 0px 108px 0px 0px;
  height: 190px;
  border-radius: 100px;
  padding: 10px;
  margin-top: 20px;
  border: 3px solid black;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
@media ( max-width: 515px ) {
  .container-home header img.me {
    display: none;
  }
}
.container-home header .vanity-box {
  height: 100%;
  width: 100%;
}
@media ( max-width: 515px ) {
  .container-home header .vanity-box {
    display: none;
    width: 100%;
    text-align: center;
  }
  .container-home header .vanity-box h1 {
    padding: 20px 0px;
  }
  .container-home header .vanity-box h2 {
    padding: 20px 0px;
  }
}
.container-home header .vanity-box h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-family: 'Arimo', 'sans-serif';
  font-weight: bold;
  letter-spacing: 0.45rem;
}
.container-home header .vanity-box h2 {
  font-family: 'Caveat', cursive;
  font-size: 1.75rem;
}
.container-home header .v-mobile {
  display: none;
}
@media ( max-width: 515px ) {
  .container-home header .v-mobile {
    max-width: 350px;
    line-height: 0.75;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border: 1px solid black;
    background: black;
    transform: rotate(-45deg);
    margin-top: 70px;
  }
  .container-home header .v-mobile h1 {
    font-size: 10rem;
    margin-bottom: 10px;
    font-family: 'Arimo', 'sans-serif';
    font-weight: bold;
    letter-spacing: 0.45rem;
    vertical-align: top;
    font-weight: lighter;
    color: white;
  }
  .container-home header .v-mobile .dg {
    margin-top: 5px;
  }
  .container-home header .v-mobile .b {
    margin-top: 5px;
  }
  .container-home header .v-mobile .black {
    color: white;
  }
  .container-home header .v-mobile h2 {
    font-family: 'Caveat', cursive;
    font-size: 1.75rem;
  }
  .container-home header .v-mobile img {
    width: 100px;
  }
  .container-home header .v-mobile .logo-br {
    display: flex;
    font-size: 4rem;
    width: 90%;
    height: 120px;
    align-items: flex-end;
    justify-content: flex-end;
    border-radius: 10px;
    border: 4px solid white;
  }
  .container-home header .v-mobile .logo-br h1 {
    font-weight: lighter;
    letter-spacing: -32px;
    color: black;
  }
  .container-home header .v-mobile .logo-br .square {
    background: black;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 3rem;
    border-radius: 7px;
    letter-spacing: -5px;
  }
}
.container-home nav {
  border-bottom: 0.25px solid gray;
  box-shadow: 5px 10px #888888;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: right;
  padding-bottom: 30px;
  padding-right: 24px;
}
@media ( max-width: 515px ) {
  .container-home nav {
    display: none;
    justify-content: space-around;
    padding: 10px;
    margin: 0px;
    width: 100%;
  }
}
.container-home nav .nav-image {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
@media ( max-width: 515px ) {
  .container-home nav .nav-image {
    height: 60px;
    width: 60px;
  }
}
.container-home nav a {
  margin-right: 50px;
  color: gray;
  font-family: 'Merriweather', serif;
  font-size: 1rem;
}
@media ( max-width: 515px ) {
  .container-home nav a {
    display: none;
  }
}
.container-home nav a:last-child {
  margin-right: 0px;
}
.container-home nav :link {
  text-decoration: none;
}
.container-home nav :hover {
  text-decoration: underline;
}
.container-home section.main-content {
  display: flex;
  font-family: 'Merriweather', serif;
  line-height: 1.75rem;
  margin-top: 50px;
  font-weight: 100;
}
@media ( max-width: 515px ) {
  .container-home section.main-content {
    flex-direction: column;
    padding: 20px;
    font-size: 1.75rem;
    width: 100%;
    margin-top: 25px;
  }
  .container-home section.main-content p {
    line-height: 1.75rem;
  }
}
.container-home section.main-content section.left-column {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-right: 5%;
}
@media ( max-width: 515px ) {
  .container-home section.main-content section.left-column {
    width: 100%;
  }
}
.container-home section.main-content section.left-column .column-section {
  margin: 20px 0px 20px 0px;
}
.container-home section.main-content section.left-column .column-section h3 {
  font-size: 1.25rem;
  font-family: 'Oswald', 'sans-serif';
  border-bottom: 1px solid gray;
  letter-spacing: 0.25rem;
  padding-bottom: 20px;
}
@media ( max-width: 515px ) {
  .container-home section.main-content section.left-column .column-section h3 {
    text-align: center;
    font-size: 1.75rem;
  }
}
.container-home section.main-content section.left-column .column-section h2 {
  font-family: 'Caveat', cursive;
  font-size: 1.5rem;
}
.container-home section.main-content section.left-column .column-section .column-text {
  padding: 20px 20px 0px 20px;
}
.container-home section.main-content section.left-column .column-section .column-text p {
  margin-bottom: 15px;
}
.container-home section.main-content section.left-column .column-section .column-text .rect {
  background: black;
  height: 5px;
  width: 15px;
  display: inline-block;
  width: 40%;
}
.container-home section.main-content section.left-column .column-section .rating {
  display: flex;
  justify-content: space-between;
}
.container-home section.main-content section.left-column .column-section .rating .skills {
  width: 45%;
}
.container-home section.main-content section.left-column .column-section .rating .stars {
  width: 45%;
}
.container-home section.main-content section.left-column .column-section .rating .stars .skill {
  display: flex;
}
.container-home section.main-content section.left-column .column-section .rating .stars .skill .fa {
  color: black;
  font-size: 1.25rem;
  margin-right: 10px;
}
.container-home section.main-content section.right-column {
  font-family: 'Merriweather', serif;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-home section.main-content section.right-column ul {
  list-style: none;
  padding: 0;
  color: black;
}
.container-home section.main-content section.right-column ul h4 {
  font-size: 1.05rem;
  font-weight: bold;
}
.container-home section.main-content section.right-column ul h5 {
  font-style: oblique;
  color: gray;
  font-weight: bold;
  padding-bottom: 5px;
}
@media ( max-width: 515px ) {
  .container-home section.main-content section.right-column {
    width: 100%;
  }
}
.container-home section.main-content section.right-column .column-section {
  margin: 20px 0px;
  width: 100%;
}
.container-home section.main-content section.right-column .column-section h3 {
  font-size: 1.25rem;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-family: 'Oswald', 'sans-serif';
  letter-spacing: 0.25rem;
}
@media ( max-width: 515px ) {
  .container-home section.main-content section.right-column .column-section h3 {
    text-align: center;
    font-size: 1.75rem;
  }
}
.container-home section.main-content section.right-column .column-section .column-text {
  padding-left: 20px;
  border-left: 5px solid ghostwhite;
}
.container-home section.main-content section.right-column .column-section .column-text li {
  margin-bottom: 15px;
}
@media ( max-width: 515px ) {
  .container-home section.main-content section.right-column .column-section .column-text {
    padding-left: 20px;
    font-size: 100%;
  }
}
.container-home section.main-content section.right-column .column-section .column-text h4 {
  font-size: 0.95rem;
  font-weight: bold;
}
.container-home section.main-content section.right-column .column-section .column-text h5 {
  font-style: oblique;
  color: gray;
  font-weight: bold;
  font-size: 1rem;
}
.container-home section.main-content section.right-column .column-section .column-text p {
  padding: 20px 0px;
}
