/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  min-height: 100%;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background: #ffffff;
  flex-direction: column;
}
h1 {
  font-size: 4rem;
}
p {
  font-size: 2rem;
}
.globalNav {
  position: absolute;
}
.global-content {
  flex-grow: 1;
}
.global-content .left-gutter {
  padding: 0 20px;
  width: 100%;
  max-width: 1040px;
  height: 587px;
  margin: 0 auto;
}
.global-content .left-gutter .header-content {
  max-width: 720px;
  margin: 0px auto;
  text-align: center;
  padding: 160px 100px;
}
.global-content .anchorBottom {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  pointer-events: none;
}
.global-content .anchorBottom .backgroundContainer {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: skewY(-12deg);
  justify-content: flex-end;
}
.global-content .anchorBottom .backgroundContainer .grid {
  height: 200%;
  align-content: end;
  grid-template-columns: 1fr;
  min-width: 0;
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-rows: repeat(auto-fill, 64px);
}
.global-content .anchorBottom .backgroundContainer .grid .background {
  grid-row: -1;
  grid-column: -1;
  z-index: -1;
}
.global-content .anchorBottom .stripeContainer {
  display: flex;
  -webkit-box-pack: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 85%;
  transform: skewY(-12deg);
  overflow: hidden;
  pointer-events: none;
}
.global-content .anchorBottom .stripeContainer .grid {
  display: grid;
  position: absolute;
  width: 133%;
  height: 200%;
  min-width: 108px;
  grid-template-rows: repeat(auto-fill, 64px);
  grid-template-columns: [viewport-start] 1fr [left-gutter-start] repeat(4, minmax(0, 86.66666667px)) [left-gutter-endcontent-start] repeat(12, minmax(0, 86.66666667px)) [content-end-right-gutter-start] repeat(4, minmax(0, 86.66666667px)) [right-gutter-end] 1fr [viewport-end];
}
.global-content .anchorBottom .stripeContainer .stripe:nth-child(2) {
  grid-row: -3;
  grid-column: 4 / span 3;
  background-color: black;
}
.global-content .anchorBottom .stripeContainer .stripe:nth-child(3) {
  grid-row: -2;
  grid-column: 4 / span 5;
  background-color: gray;
}
.global-content .anchorBottom .stripeContainer .stripe:nth-child(4) {
  grid-row: -2;
  grid-column: 4 / span 3;
  background-color: blue;
}
.global-content .anchorBottom .stripeContainer .stripe:nth-child(5) {
  grid-row: -10;
  grid-column: 4 / span 1;
  background-color: goldenrod;
}
.global-content .anchorBottom .stripeContainer .stripe:nth-child(6) {
  grid-row: -9;
  grid-column: 4 / span 3;
  background-color: palegreen;
}
.global-content .anchorBottom .stripeContainer .stripe:nth-child(7) {
  grid-row: -5;
  grid-column: 4 / span 2;
  border: 1px solid lightblue;
}
.global-content .anchorBottom .stripeContainer .stripe:nth-child(8) {
  grid-row: -6;
  grid-column: 17 / span 3;
  border: 1px solid lightblue;
}
.global-content .anchorBottom .stripeContainer .stripe:nth-child(9) {
  grid-row: -5;
  grid-column: 18 / span 2;
  background: yellow;
}
.global-content .sectionBottom {
  position: relative;
  width: 100%;
  padding: 180px 0px 100px;
}
.global-content .sectionBottom .lower-content {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: 400px;
}
.global-content .sectionBottom .lower-content .section-one {
  display: grid;
  position: relative;
  z-index: 2;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 0 100px;
}
.global-content .sectionBottom .gen-container {
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  pointer-events: none;
}
.global-content .sectionBottom .gen-container .lbackgroundContainer {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: skewY(-12deg);
}
.global-content .sectionBottom .gen-container .lbackgroundContainer .grid {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(auto-fill, 64px);
  grid-template-columns: 1fr;
  min-width: 0;
}
.global-content .sectionBottom .gen-container .lbackgroundContainer .grid .background {
  background-color: #f6f9fc;
  grid-row-start: 1;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: -1;
  z-index: -1;
}
.global-content .sectionBottom .gen-container .stripeContainer {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: skewY(-12deg);
}
.global-content .sectionBottom .gen-container .stripeContainer .grid {
  position: absolute;
  width: 130%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(auto-fill, 64px);
  grid-template-columns: [viewport-start] 1fr [left-gutter-start] repeat(4, minmax(0, 86.66666667px)) [left-gutter-endcontent-start] repeat(12, minmax(0, 86.66666667px)) [content-end-right-gutter-start] repeat(4, minmax(0, 86.66666667px)) [right-gutter-end] 1fr [viewport-end];
}
.global-content .sectionBottom .gen-container .stripeContainer .grid .stripe:nth-child(2) {
  grid-row: -11;
  grid-column: 16 / span 4;
  background-color: black;
}
.global-content .sectionBottom .gen-container .stripeContainer .grid .stripe:nth-child(3) {
  grid-row: -10;
  grid-column: 18 / span 2;
  background-color: purple;
}
.global-content .sectionBottom .gen-container .stripeContainer .grid .stripe:nth-child(4) {
  grid-row: -11;
  grid-column: 14 / span 3;
  background-color: palegreen;
}
