/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  min-height: 100%;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background: #ffffff;
}
.globalNav {
  position: absolute;
}
.global-content .header .left-gutter {
  padding: 0 20px;
  width: 100%;
  max-width: 1040px;
}
.global-content .header .left-gutter .header-content {
  max-width: 720px;
  margin: 0px auto;
  text-align: center;
  padding: 160px 100px;
}
.global-content .header .anchorBottom {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
}
.global-content .header .anchorBottom .backgroundContainer {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: skewY(-12deg);
  justify-content: flex-end;
}
.global-content .header .anchorBottom .backgroundContainer .grid {
  height: 200%;
  align-content: end;
  grid-template-columns: 1fr;
  min-width: 0;
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-rows: repeat(auto-fill, 64px);
}
.global-content .header .anchorBottom .backgroundContainer .grid .background {
  grid-row: -1;
  grid-column: -1;
  z-index: -1;
}
.global-content .header .anchorBottom .stripeContainer {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 85%;
  transform: skewY(-12deg);
  overflow: hidden;
}
.global-content .header .anchorBottom .stripeContainer .grid {
  display: grid;
  position: absolute;
  width: 133%;
  height: 200%;
  min-width: 108px;
  grid-template-rows: repeat(auto-fill, 64px);
  grid-template-columns: [viewport-start] 1fr [left-gutter-start] repeat(4, minmax(0, 86.66666667px)) [left-gutter-endcontent-start] repeat(12, minmax(0, 86.66666667px)) [content-end-right-gutter-start] repeat(4, minmax(0, 86.66666667px)) [right-gutter-end] 1fr [viewport-end];
}
