// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


//variables
@mobile: ( max-width: 580px );
@h3-fontstack: 'Oswald', 'sans-serif';
@column-text-fs:'Merriweather', serif;
@h1-fontstack:'Arimo', 'sans-serif';
@h2-fontstack: 'Caveat', cursive;
@tablet: ( max-width: 815px);

//Mixins
.column(){
	display:flex;
	flex-direction:column;
}

.uni-pad(){
	padding:10px;
}
/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	background: #ffffff;
	
	// background-image: url('background-url: http://api.thumbr.it/whitenoise-361x370.png?');
	// background:#f4f7fdff&noise=626262&density=13&opacity=3;
}


.container-home{
	max-width:900px;
	margin:0px auto;
	
	


	
	
	@media @mobile{
		width:100%;
		
	}

	@media @tablet{
		max-width:90%;
	}
	


	header{
		display:flex;
		padding:0px 0px 0px 35px;
		
		width:100%;
		height:100%;
		align-items: flex-start;
		justify-content:space-between;
		margin-top:40px;
		
		

		@media @mobile{
			justify-content:center;
			width:100%;
			padding:0px;

			
		}
		@media @tablet{
			padding:0px;
		}

		.v-desk{
			width:167px;
			line-height:.75;
			// margin-bottom:30px;
			display:flex;
			flex-wrap: wrap;
			align-content: center;
			border: 1px solid black;
			background:black;
			transform: rotate(-45deg);
			// margin-top:60px;
			// margin-right: 128px;
			// margin: 7% 13% 2% 2%;


			@media @tablet{
				transform: rotate(0deg);
				border-radius: 20px;
				margin-right:2%;
				width:210px;
				min-width:169px;

			}
			@media @mobile{
				display:none;
			}

			h1{
				font-size: 6rem;
				margin-bottom: 10px;
				font-family: @h1-fontstack;
				font-weight:bold;
				letter-spacing: .45rem;
				vertical-align: top;
				font-weight: lighter;
				color:white;
				
			}	
			.dg{
				margin-top:5px;
				margin-left:2px;
				@media @tablet{
					h1{
					display:none;
					}
				}

			}

			.b{
				margin-top:5px;
				@media @tablet{
					height:162px;
					h1{
						display:none;
					}

				}
			}
			.black{
				color:white;
			}

			h2{
				font-family: @h2-fontstack;
				font-size:1.75rem;
			}
			img{
				
				width:100px;
			}

			.logo-br {
				display:flex;
				height:44%;
				font-size:2rem;
				width:90%;
				height:44%;
				align-items: flex-end;
				justify-content: flex-end;
				border-radius: 10px;
				border:4px solid white;
				padding-top:10px;
				@media @tablet{
					border:none;
					
				}
				h6{
					display:inline-block;
				}
				h1{
					font-weight:lighter;
					letter-spacing: -32px;
					color:black;
				}
				@keyframes blink {
					50% {
						opacity: 0.0;
						}
					}
					@-webkit-keyframes blink {
					50% {
						opacity: 0.0;
						}
					}
				
				.blink{
					animation: blink 1s step-start 0s infinite;
					-webkit-animation: blink 1s step-start 0s infinite;
				}	
				.square{
					background:black;
					height:100%;
					width:100%;
					color:white;
					font-size:2rem;
					border-radius: 7px;
					letter-spacing:-5px;
					
					

					@media @tablet{
						font-size: 4.5rem;
					}

					
					
				}
				
			}//desktop logo bottom right
			
		
		
			
		}//v desktop logo		
		// img.me{
			
			
		// 	margin:0px 65px 0px 0px;
		// 	height: 238px;
		// 	border-radius: 100px;
		// 	padding:0px;
		// 	margin-top:20px;
			
			
		// 	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		// 	filter: grayscale(100%);

		// 	@media @mobile{
		// 	display:none;
		// 	}
			
		// }
		.vanity-box{
			
			height:100%;
			// width:100%;
			
			
			// margin-right:40px;


			

			@media @mobile{
				display:none;
				width:100%;
				text-align:center;
				h1{
					padding:20px 0px;
				
				}

				

				h2{
					padding:20px 0px;
					
				}
			}
			
			h1{
				font-size: 4.35rem;
				margin-bottom: 10px;
				font-family: 'Oswald','sans-serif';
				font-weight:bold;
				letter-spacing: .45rem;

				
			}

			h2{
				font-family: @h2-fontstack;
				font-size:1.75rem;
				text-align: right;
				@media @tablet{
					font-size: 1.5rem}
				
			}
		}//vanity box	

		.v-mobile{
			display:none;
			@media @mobile{
				width:60vw;
				line-height:.75;
				margin-bottom:30px;
				display:flex;
				flex-wrap: wrap;
				align-content: center;
				border: 1px solid black;
				background:black;
				transform: rotate(-45deg);
				margin-top:70px;

				h1{
					font-size: 36vw;
					margin-bottom: 10px;
					font-family: @h1-fontstack;
					font-weight:bold;
					letter-spacing: .45rem;
					vertical-align: top;
					font-weight: lighter;
					color:white;
					
				}	
				.dg{
					margin-top:5px;
					margin-left:2px;
				}

				.b{
					margin-top:5px;
				}
				.black{
					color:white;
				}

				h2{
					font-family: @h2-fontstack;
					font-size:1.75rem;
				}
				img{
					
					width:100px;
				}

				.logo-br {
					display:flex;
					height:44%;
					font-size:2rem;
					width:90%;
					height:44%;
					align-items: flex-end;
					justify-content: flex-end;
					border-radius: 10px;
					border:4px solid white;
					padding-top:10px;
					h6{
						display:inline-block;
					}
					h1{
						font-weight:lighter;
						letter-spacing: -32px;
						color:black;
					}
					@keyframes blink {
						50% {
						  opacity: 0.0;
						}
					}
					@-webkit-keyframes blink {
						50% {
						  opacity: 0.0;
						}
					}
					
					.blink{
						animation: blink 1s step-start 0s infinite;
						-webkit-animation: blink 1s step-start 0s infinite;
					}
					.square{
						background:black;
						height:100%;
						width:100%;
						color:white;
						font-size:2.5rem;
						border-radius: 7px;
						letter-spacing:-5px;
						
						@media @mobile{
							font-size: 3rem;
						}
					}

					
					
				}//logo-bottom right
			}//@media v mobile logo

			
				
			

		}//v.mobile logi
			
		// .contact-mobile{
		// 	display:none;
			
		// 	width:100%;

		// 	@media @mobile{
		// 		display:flex;
		// 		color:ghostwhite;
		// 		align-items:center;
		// 		justify-content: center;
		// 		font-size:1.75rem;
				
				
			
				
				

				

		// 		.mob-button{

		// 			&:hover{
		// 				background:gray;
		// 			}

		// 			&:active { 
		// 				background-color: gray;
		// 				transform: translateY(4px);
		// 				box-shadow: 0 5px #666;
						
		// 			}
		// 			img{
		// 				width:80px;
		// 				height:80px;
		// 			}
		// 			display:flex;
		// 			justify-content: center;
		// 			align-items: center;
		// 			margin: 20px;
		// 			width: 60%;
		// 			height: 100px;
					
		// 			background:ghostwhite;    
		// 			border: 4px solid gray;
		// 			transform: skewX(-10deg);
					
		// 			margin-right:5px;
					

		// 			h3{
						
		// 				height:30%;
						
		// 				width:30%;
		// 				color:lightgray;
						
	
						
						
		// 			}
		// 		}

				
		// 		// .two{
		// 		// 	margin: 20px;
		// 		// 	width:40%;
		// 		// 	height: 100px;
		// 		// 	display: inline-block;
		// 		// 	background:ghostwhite;    
		// 		// 	border: 4px solid gray;
		// 		// 	transform: skewX(-10deg);
		// 		// 	margin-left:5px;
		// 		// 	text-align: center;
		// 		// 	vertical-align: center;

		// 		// 	&:hover{
		// 		// 		background:gray;
		// 		// 	}
		// 		// 	&:active { 
		// 		// 		background-color: gray;
		// 		// 		box-shadow: 0 5px #666;
		// 		// 		transform: translateY(4px);
		// 		// 	}

					

		// // 			img{
		// // 				margin-top:10px;
		// // 				width:70px;
		// // 				height:70px;
						
		// // 			}
		// // 		}
				
		// // 	}
		// // }

		

			

			

			
		
	}//header

		
	

	nav{
		border-bottom: .25px solid gray;
		box-shadow: 5px 10px #888888;
		display:flex;
		justify-content: flex-end;
		align-items:center;
		width:100%;
		height:100%;
		text-align:right;
		padding-bottom:30px;
		padding-right: 24px;

		@media @mobile{
			display:none;
			justify-content: space-around;
			padding:10px;
			margin:0px;
			width:100%;
			
			
		}

		@media @tablet{
			
			border-bottom: 1px solid gray;
			box-shadow: none;
			padding-bottom:0px;
		}
		

		.nav-image{
			height:20px;
			width:20px;
			margin-right:5px;

			@media @mobile{
				height:60px;
				width:60px;
			}
		}

		a{
			margin-right:50px;
			color: gray;
			font-family: @column-text-fs;
			font-size: 1rem;
		
			
			@media @mobile{
				display:none;
			}
			
			@media @tablet{
				display:none;
			}
			

			
		}
		a:last-child{
			margin-right: 0px;
		}

		:link{
			text-decoration: none;
		}

		:hover{
		
			text-decoration: underline;
		}
		
	}//nav



	section.main-content{
		
		display:flex;
		font-family: @column-text-fs;
		line-height: 1.75rem;
		margin-top:50px;
		font-weight: 100;
		justify-content: center;

		@media @mobile{
			flex-direction: column;
			padding:20px;
			font-size:1.75rem;
			width:100%;
			margin-top:25px;
			p{
				line-height: 1.75rem;
			}
			
			
		}

		

		section.left-column{
			.column();
			
			width:35%;
			
			margin-right:5%;

			@media @tablet{
				width:40%;
			}

			.mob-show{
				display:none;
			}
			@media @mobile{
				width: 100%;
				.mob-hide{
					display:none;

				}

				.mob-show{
					display:block;
				}
			
			}
			
			
			
			.column-section{
				
				// .uni-pad();
				
				
				margin:20px 0px 20px 0px;

				.mobile{
					display:none;
				}
				@media @mobile{
					.mobile{
						display:block;
					}
					.desk{
						display:none;
					}
				}
				
				h3{
					font-size:1.25rem;
					font-family: @h3-fontstack;
					border-bottom:1px solid gray;
					letter-spacing: .25rem;
					padding-bottom:20px;
					
					@media @mobile{
						text-align: center;
						font-size: 1.75rem;
						
					}

				}
				h2{
					font-family:@h2-fontstack;
					font-size:1.5rem;
				}

				button.git{
					width:50%;
					height:15%;
					background:black;
					border:1px solid black;
					border-radius: 10px;
					color:white;
					display:flex;
					justify-content: center;
					align-items: center;
					margin-top:15px;
					font-size: 1.5rem;
					margin:20px 0px;
					 
					span {
						cursor: pointer;
						display: inline-block;
						position: relative;
						transition: 0.5s;
					}
					
					span:after {
						content: '\00bb';
						position: absolute;
						opacity: 0;
						top: 0;
						right: -20px;
						transition: 0.5s;
					}
					
					&:hover span {
						padding-right: 25px;
					}
					
					&:hover span:after {
						opacity: 1;
						right: 0;
					}

					
				}

				.column-text{
					padding:20px 20px 0px 20px;
					
					
					
				
				
					
				
					

					p{
						margin-bottom:15px;
					}
					
					.rect{
						background:black;
						height:5px;
						width:15px;
						display:inline-block;
						width:40%;

						
						
					}

					
					
					
				}//coltext

				.rating{

					display:flex;
					justify-content:space-between;
					
	
					.skills{
						width:45%;

						
						
					}
					.stars {
						width:45%;
						
						.skill{
							display:flex;
							
							.fa{
						
								color:black;
								font-size:1.25rem;
								margin-right: 10px;
								
		
							}
							
						}
						

					}
	
				}//rating
			}//col section

		}//section.left-column
		
		section.right-column{
			font-family: @column-text-fs;
			width:60%;
			@media @tablet{
				width:40%;
			}
			.column();
			align-items: center;

			

			ul {
				list-style: none;
				
				padding: 0;
				
				color:black;

				h4{
					font-size:1.05rem;
					font-weight:bold;
				}

				h5{
					font-style:oblique;
					color:gray;
					font-weight: bold;
					padding-bottom:5px;
				}
			}

			
			// li {
			// overflow: hidden;
			// position: relative;
			// padding: 0 0 10px 35px;
			// }
			// li::before {
			// 	content: '';
			// 	position: absolute;
			// 	left: 3.5px;//vertical line
			// 	top: 3.5px;//vertical
			// 	width: 20px;
			// 	height: 900px;
			// 	border: 2px solid ;
			// 	border-width: 0px 0 0 1.5px;
			// 	}
			// 	li:last-child::before {
			// 	border-width: 0px 0 0;
			// 	}
			// li::after {
			// 	content: '';
			// 	position: absolute;
			// 	left: 0;
			// 	top: 0;
			// 	width: 5px;
			// 	height: 5px;
			// 	background:black;//circle fill
			// 	border: 2px solid white;//circle border
			// 	border-radius: 50%;
			// 	}//circles
			// li.current,
			// li.passed {
			// 	color: #000;
			// 	}
			// 	li.current::before {
			// 	border-top-color:white;//handles
				
			// 	}
			// 	li.current::after {
			// 	border-color:black;//circle border color
				
			// 	}
			// 	li.passed::before,
			// 	li.passed::after {
			// 	border-color:black;//3 circles}
				
			

			@media @mobile{
				width: 100%;
			}

			.column-section{
				margin:20px 0px;
				width:100%;
				
				
				
				
				
					
				
				
			

				

				h3{
					font-size:1.25rem;
					font-family: @h3-fontstack;
					border-bottom:1px solid gray;
					
					margin-bottom: 20px;
					padding-bottom:20px;
					font-family: @h3-fontstack;
					letter-spacing: .25rem;

					@media @mobile{
						text-align: center;
						font-size: 1.75rem;
						}
				}

				.column-text{
					padding-left:20px;
					border-left:5px solid ghostwhite;

					li{
						margin-bottom:15px;
					}

					@media @mobile{
						padding-left:20px;
						font-size: 100%;
					}
					
					// .border{
						

					// 	padding-left:20px;
					// 	margin-top:20px;
					// 	// border-left:2px solid black;

					// 	@media @mobile{
					// 		padding:20px;
					// 	}
						
						

					h4{
						font-size:.95rem;
						font-weight:bold;
					}

					h5{
						font-style:oblique;
						color:gray;
						font-weight: bold;
						font-size:1rem;
					}

					p{
						padding:20px 0px;
						// font-size:1rem;
					}

					
							
				
					
				

				
				}
				
			}
			
				
				
			
		}

	}//section.main-content
}