// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	min-height: 100%;
	
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	background: #ffffff;
	flex-direction: column;
	
	// background-image: url('background-url: http://api.thumbr.it/whitenoise-361x370.png?');
	// background:#f4f7fdff&noise=626262&density=13&opacity=3;
}

h1{
	font-size: 4rem;
	font-family: 'Oswald', sans-serif;
	padding-bottom: 20px;
	color:	#3d389b;
}

h2{
	font-size:1.5rem;
	margin:10px 0px 30px 0px;
	font-family: 'Caveat', cursive;
}

h3{
	color:	#3d389b;
	font-size: 1.75rem;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 20px;
	
	font-weight:bold;
}

p{
	font-size: 1.5rem;
	font-family: 'Open Sans', sans-serif;
	line-height: 36px;
	color: rgb(102, 102, 120);
	
}

.globalNav{
	display:flex;
	position: absolute;
	align-items:center;
	justify-content: center;
	width:100%;
	z-index: 100;

	nav{
		display:flex;
		width:100%;
		justify-content: space-around;
		padding:20px;
		
		
		
		a{
			font-size: 1.10rem;
			
			font-family: 'Open Sans', sans-serif;
			line-height: 36px;
			color: rgb(102, 102, 120);
			text-decoration: none;
		}
		
		a:hover{
				text-decoration: underline;
				color:#3d389b;
		}
		
		
	}
}



.global-content{
	flex-grow: 1;

	.overflowContainer{
		overflow: hidden;

		.header{

			position: relative;
			.left-gutter{
				// max-height:593px;
				// margin:0 auto;
				padding:0 20px;
				width:100%;
				// max-width: 1040px;
				
				margin:0 auto;
				max-width: 1040px;

				.header-content{
					max-width:720px;
					margin:0px auto;
					text-align:center;
					padding:160px 100px;
				}
			}
			.anchorBottom{

				position: absolute;
				width: 100%;
				top: 0;
				bottom: 0;
				// z-index: -1;
				
				pointer-events: none;
				.backgroundContainer{
					display:flex;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					flex-direction:column;
					-webkit-box-align: center;
					align-items: center;
					position: absolute;
					width: 100%;
					height: 100%;
					transform: skewY(-12deg);
					justify-content:flex-end;

					.grid{
						height:200%;
						align-content:end;
						grid-template-columns:1fr;
						min-width:0;
						width:100%;
						position: absolute;
						display:grid;
						grid-template-rows: repeat(auto-fill,64px;);

						.background{
							grid-row: 1/-1;
							grid-column: 1/-1;
							z-index: -1;
						}
					}
				}//backgroundContainer

				.stripeContainer{
					display:flex;
					-webkit-box-pack: end;	
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					flex-direction: column;
					justify-content: flex-end;
					-webkit-box-align: center;
					align-items: center;
					position: absolute;
					width: 100%;
					height: 100%;
					transform: skewY(-12deg);
					overflow: hidden;
					pointer-events: none;
					overflow: hidden;

					.grid{
						display:grid;
						position:absolute;
						width:133%;
						height:200%;
						min-width:108px;
						grid-template-rows: repeat(auto-fill,64px);
						grid-template-columns: [viewport-start] 1fr
						[left-gutter-start] repeat(4,minmax(0,1040px/12)) 
						[left-gutter-endcontent-start] repeat(12,minmax(0,1040px/12))
						[content-end-right-gutter-start] repeat(4,minmax(0,1040px/12))
						[right-gutter-end] 1fr [viewport-end];

						


					}
					
					.stripe{
						// margin:2px;
						&:first-child{
							border:1px solid lightgray;
							grid-row:-7;
							grid-column:2/span 2;
						}
							
						&:nth-child(2){
						grid-row: -3;
						grid-column: 3/span 3;	
						background-color:rgb(119,195,94);
						// margin-top: -2px;
						}
						&:nth-child(3){
							grid-row: -2;
							grid-column: 4/span 5;
							background-color:rgb(232,82,53);
							// margin-top: -2px;
							}

						&:nth-child(4){
							grid-row: -2;
							grid-column: 4/span 3;
							background-color:rgb(246,213,86);
							
							
							// margin-top: -2px;
						}

						&:nth-child(5){
							grid-row: -8;
							grid-column: 3/span 2;
							background-color:rgb(219,112,161)
							
						

							// margin-top: -2px;
						}
						&:nth-child(6){
							grid-row: -9;
							grid-column: 5/span 2;
							background-color:black;
						}

						&:nth-child(7){
							grid-row: -2;
							grid-column: 19/span 3;
							border:1px solid rgb(232,82,53);
						}

						&:nth-child(8){
							grid-row: -7;
							grid-column: 17/span 3;
							border:1px solid rgb(119,195,94);
						}

						&:nth-child(9){
							grid-row: -6;
							grid-column: 19/span 3;
							background: rgb(138,64,50);
						}
						
					}//stripes


						

					

					
				
				}//stripeContainer
		
		
		
			}//anchorBottom
		}//header
		.sectionBottom{
			position: relative;
			width: 100%;
			
			padding:180px 0px 100px;

			.lower-content{
				

				margin: 0 auto;

				padding: 0 20px;

				width: 100%;
				height:400px;
				.section-one{
					display:grid;
					position: relative;
					z-index: 2;
					grid-template-columns: 1fr 1fr;
					grid-template-rows: 1fr;
					gap: 0 100px;

					.text-section-left{
						grid-row:1/span3;
						padding:20px 60px;
						p{
							padding-bottom: 10px;
						}
						margin:0 auto;
					}

					.text-section-right{
						
						display:grid;
						padding:10px;
						grid-template-columns: repeat(6, 1fr);
						grid-gap: 10px;
						grid-template-rows: repeat(5, 100px);;
						grid-template-areas: 
						
						  "a a a b b b"
						  "a a a b b b"
						  "c c c d d d"
						  "c c c d d d"
						  "c c c d d d";
						
					
						
						.one{
							grid-area: a;
							
							
						
						}

						.two{
							grid-area: b;
							background:palegoldenrod;
							img{
								height:100%;
								width:50%;
							}
							
						
						}

						.three{
							grid-area: c;
							background:palevioletred;
							height:100%;
							width:100%;
							img{
								width:150px;
								height:150px;
								padding:10px;
							}
						
						}
						
						.four{
							grid-area: d;
							background:peachpuff;
							height: 100%;
						
						}

						.stack{
							// padding:30px;
							// margin:1px;
							border:1px solid gray;
							
							
							
							// width:35%;
							// height:30%;
							
							img.js-logo{
								height:200px;
								width:200px;
								
							}
							
							

							img.html-css{
								height:100px;
									width:100px;
							}

							
							

							
						}


					}


				}
				
				
			}
			.gen-container{
				z-index: 1;
				position: absolute;
				width:100%;
				top:0;
				bottom:0;
				pointer-events: none;
				.lbackgroundContainer{
					display:flex;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					flex-direction: column;
					-webkit-box-align: center;
					align-items: center;
					position: absolute;
					width: 100%;
					height: 100%;
					transform: skewY(-12deg);
					
					.grid{
						position: absolute;
						width: 100%;
						height: 100%;
						display: grid;
						grid-template-rows:repeat(auto-fill,64px);
						grid-template-columns: 1fr;
						min-width: 0;
		
						.background{
							background-color: #f6f9fc;
							
							grid-row-start: 1;
							grid-row-end: -1;
							grid-column-start: 1;
							grid-column-end:-1;

							z-index: -1;

						}
					}
				}

				.stripeContainer{
					display:flex;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					flex-direction: column;
					-webkit-box-align: center;
					align-items: center;
					position: absolute;
					width: 100%;
					height: 100%;
					transform: skewY(-12deg);

					.grid{
						position: absolute;
						width: 130%;
						height: 100%;
						display: grid;
						grid-template-rows:repeat(auto-fill,64px);
						grid-template-columns: [viewport-start] 1fr
						[left-gutter-start] repeat(4,minmax(0,1040px/12)) 
						[left-gutter-endcontent-start] repeat(12,minmax(0,1040px/12))
						[content-end-right-gutter-start] repeat(4,minmax(0,1040px/12))
						[right-gutter-end] 1fr [viewport-end];



						.stripe{
							// margin:2px;
								
							&:nth-child(2){
							grid-row: -11;
							grid-column: 16/span 4;	
							background-color:rgb(228,142,64);
							// margin-top: -2px;
							}
							&:nth-child(3){
								grid-row: -10;
								grid-column: 17/span 4;	
								background-color:rgb(55,68,146)
								// margin-top: -2px;
								
							}
							&:nth-child(4){
								grid-row: -11;
								grid-column: 15/span 3;	
								background-color:lightgray;
								// margin-top: -2px;
								
							}
						}
					}
				}
			}//gen container
			

			
			
		
			
		}//sectionBottom

	}//overflow

	
}//globalContent