// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


//variables
@mobile: ( max-width: 515px );
@h3-fontstack: 'B612 Mono', monospace;
@column-text-fs:'Yantramanav', 'sans-serif';
@h1-fontstack:'B612 Mono', monospace;
@h2-fontstack: 'Caveat', cursive;

//Mixins
.column(){
	display:flex;
	flex-direction:column;
}

.uni-pad(){
	padding:10px;
}
/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	background:ghostwhite;
}

.container-home{
	max-width:900px;
	margin:0px auto;
	
	


	header{
		display:flex;
		padding:20px 20px 0px 20px;
		

		height:100%;
		align-items: center;
		justify-content:flex-start;
		
		

		@media @mobile{
			flex-direction:column;
			
		}
		img{
			width:175px;
			margin:0px 125px 0px 0px;
			height: 175px;
			border-radius: 100px;
			padding:10px;
			margin-top:20px;
			border: 3px solid black;
			
			-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
			filter: grayscale(100%);
			
		}
		.vanity-box{
			
			height:100%;
			width:50%;
			
			
			// margin-right:40px;


			

			@media @mobile{
				width:100%;
				text-align:center;
			}
			
			h1{
				font-size: 3rem;
				margin-bottom: 10px;
				font-family: @h1-fontstack;
			}

			h2{
				font-family: @h2-fontstack;
				font-size:1.75rem;
				
			}
			
				nav{
		border-bottom: .25px solid gray;
		
		width:100%;
		height:100%;
		text-align:center;
		padding-bottom:10px;

		a{
			margin-right:20px;
			color: black;
			font-family: @column-text-fs;

			

			

			
		}
	}

		}//vanity box
	}//header

	nav{
		border-bottom: .25px solid gray;
		display:flex;
		justify-content: flex-end;
		align-items:center;
		width:100%;
		height:100%;
		text-align:right;
		padding-bottom:30px;
		padding-right: 50px;

		.nav-image{
			height:20px;
			width:20px;
			margin-right:5px;
		}

		a{
			margin-right:50px;
			color: black;
			font-family: @column-text-fs;
			
			

			

			
		}
		a:last-child{
			margin-right: 0px;
		}

		:link{
			text-decoration: none;
		}

		:hover{
		
			text-decoration: underline;
		}
		
	}



	section.main-content{
		
		display:flex;
		font-family: @column-text-fs;
		line-height: 1.25rem;
		margin-top:25px;

		@media @mobile{
			flex-direction: column;
	
		}

		section.left-column{
			.column();
			
			width:35%;
			
			margin-right:5%;

			@media @mobile{
				width: 100%;
			}
			
			.column-section{
				
				// .uni-pad();
				
				margin:20px 0px;

				h3{
					font-size:1.25rem;
					font-family: @h3-fontstack;
					border-bottom:1px solid gray;
					letter-spacing: .25rem;
					padding-bottom:10px;
					

				}

				.column-text{
					padding:20px;
				}
			}

		}//section.left-column
		
		section.right-column{
			
			width:60%;
			.column();
			align-items: center;
			

			@media @mobile{
				width: 100%;
			}

			.column-section{
				margin:20px 0px;
				width:100%;
				

				
			

				

				h3{
					font-size:1.25rem;
					font-family: @h3-fontstack;
					border-bottom:1px solid gray;
					
					padding-bottom:10px;
					font-family: @h3-fontstack;
					letter-spacing: .25rem;
				}

				.column-text{
					padding-left:20px;
					
					.border{

						padding-left:20px;
						margin-top:20px;
						border-left:2px solid black;

						h4{
							font-size:1.15rem;
							font-weight:bold;
						}

						h5{
							font-style:oblique;
							color:gray;
							font-weight: bold;
						}

						p{
							padding:20px 0px;
						}
					}			
				
					
				

				
				}
			}
			
				
				
			
		}

	}//section.main-content
}